<div class = "header-image">

  <span>
    <img src = "../../assets/logo-header/angular.png" style="width:300px" >
  </span>
  <span>
    <img src = "../../assets/logo-header/nodejs2.png" style="width:300px" >
  </span>
  <span>
    <img src = "../../assets/logo-header/php.png" style="width:300px" >
  </span>
  <span>
    <img src = "../../assets/logo-header/java.png"  style="width:300px" >
  </span>
  <span>
    <img src = "../../assets/logo-header/javascript.png"  style="width:300px">
  </span>

</div>
