<div class="about-content">
  <div class="about-skill-left">
    <div class="content-rating">
      <span>
        <img src="../../../assets/logo-header/angular.png" style="width:60px">
      </span>
      <span>
        <rating [(ngModel)]="angRating[1]" [max]="angRating[0]" [readonly]="angRating[2]" style="color: #FFC107;font-size: 40px;"></rating>
      </span>
    </div>

    <div class="content-rating">
      <span>
        <img src="../../../assets/logo-header/nodejs2.png" style="width:60px">
      </span>
      <span>
        <rating [(ngModel)]="nodeRating[1]" [max]="nodeRating[0]" [readonly]="nodeRating[2]" style="color: #FFC107;font-size: 40px;"></rating>
      </span>
    </div>

    <div class="content-rating">
      <span>
        <img src="../../../assets/logo-header/php.png" style="width:60px">
      </span>
      <span>
        <rating [(ngModel)]="phpRating[1]" [max]="phpRating[0]" [readonly]="phpRating[2]" style="color: #FFC107;font-size: 40px;"></rating>
      </span>
    </div>


    <div class="content-rating">
      <span>
        <img src="../../../assets/logo-header/java.png" style="width:60px">
      </span>
      <span>
        <rating [(ngModel)]="rjavaRating[1]" [max]="rjavaRating[0]" [readonly]="rjavaRating[2]" style="color: #FFC107;font-size: 40px;"></rating>
      </span>
    </div>

    <div class="content-rating">
      <span>
        <img src="../../../assets/logo-header/javascript.png" style="width:60px">
      </span>
      <span>
        <rating [(ngModel)]="rjavaScriptRating[1]" [max]="rjavaScriptRating[0]" [readonly]="rjavaScriptRating[2]" style="color: #FFC107;font-size: 40px;"></rating>
      </span>
    </div>
  </div>
  <div class="about-skill-rigth">
   <span style="font-size: 90px; color:red">
   </span>
  </div>



</div>
